<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">
  <link rel="stylesheet" href={{ "/css/main.css" }}>
  <link rel="icon" type="image/png" sizes="16x16" href="http://edtecnova.com.br/images/favicon/favicon-16x16.png">
  {% seo %}
  <script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" id="st_insights_js" src="http://w.sharethis.com/button/buttons.js?publisher=c051e56b-20fc-4d0d-bdd0-b2cd3dac7974"></script>
<script type="text/javascript">stLight.options({publisher: "c051e56b-20fc-4d0d-bdd0-b2cd3dac7974", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
</head>