 <header class="masthead">
  <h1 class="masthead-title">
    <a href="{{ site.url }}/">{{ site.title }}<span> blog</span></a>
  </h1>
       <nav class="masthead-nav">
        {% for page in site.pages %}
          <a href="{{ page.url }}">{{ page.title }}</a>

         {% endfor %}       
    </nav>
    <div class="footer-social-icons">
    <ul class="social-icons">
        <li><a href="https://www.facebook.com/professoragoogle/" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/edtecnova" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="http://youtube.com/c/SoraiaNovaes" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="https://www.linkedin.com/in/soraianovaes" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://www.instagram.com/snvas/" class="social-icon"> <i class="fa fa-instagram"></i></a></li>
        <li><a href="https://br.pinterest.com/snvas/" class="social-icon"> <i class="fa fa-pinterest"></i></a></li>
        <li><a href="mailto:contato@soraianovaes.com.br" class="social-icon"> <i class="fa fa-envelope"></i></a></li>
        <li><a href="feed.xml" class="social-icon"> <i class="fa fa-rss"></i></a></li>
        <li><a href="https://desafiodocodigo.com.br" class="social-icon"> <i class="fa fa-code"></i></a></li>
        
    </ul>
</div>   
    </header>