---
layout: default
---
{% include minutes-to-read.html %}

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- codecamp -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3011890130990408"
     data-ad-slot="9846490006"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<article class="content post">
  <br/>
	<h1 class="post-title">{{ page.title }}</h1>
  <h6 class="post-tags">{{ page.tags }}</h6>
    <div class="post-date">
     {% assign author = site.data.people[page.author] %}
        <a class="reading-time" rel="author"
         href="/about/"
         title="{{ author.name }}">
     {{ author.name }}
        </a> | <time>{{ page.date | date_to_string }}</time>
    	<span class="reading-time"> | {{minutesText}}</span>
   </div>

    {{ content }}
 
  <div style="float:left;">
  	{% if page.previous %}
    	<a class="post-date" href="{{ page.previous.url }}">Anterior</a>
  	{% else %}
    	<span class="post-date">Anterior</span>
  	{% endif %}
  </div>
  <div style="float: right">
  	{% if page.next %}
    	{% if page.next == 1 %}
      <a class="post-date" href="/">Próximo</a>
    	{% else %}
      <a class="post-date" href="{{ page.next.url }}">Próximo</a>
    	{% endif %}
  	{% else %}
    <span class="post-date">Próximo</span>
  	{% endif %}
  </div>
  <div style="clear: both">
  <hr/>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- codecamp -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3011890130990408"
     data-ad-slot="9846490006"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<hr/>
 <div id="disqus_thread"></div>
<script>
	var disqus_config = function () {
		this.page.url = '{{ site.url }}{{ page.url }}';
		this.page.identifier = '{{ page.url }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//edtecnova.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>

